<a class="sr-only sr-only-focusable" href="#content">Skip to Main Content</a>
<header role="banner">
	<nav role="navigation">
		<IMG SRC="/images/goslingtheme.gif" ALIGN="CENTER" BORDER="0">
		<table cellpadding=2 cellspacing=1 border=0 bgcolor="#004239" align="CENTER">
			<tr>
				<td nowrap ALIGN="CENTER">
					<a href="/">
						<font face="arial,helvetica" color="#FF9C39" size=2><b>Home</b></font>
					</a>
				</td>
				<td nowrap ALIGN="CENTER">
					<a href="/links.html">
						<font face="arial,helvetica" color="#FF9C39" size=2><b>Links</b></font>
					</a>
				</td>
				<td nowrap ALIGN="CENTER">
					<a href="/contact.shtml">
						<font face="arial,helvetica" color="#FF9C39" size=2><b>ContactUs</b></font>
					</a>
				</td>

				<td nowrap ALIGN="CENTER">
					<a href="/forum.html">
						<font face="arial,helvetica" color="#FF9C39" size=2><b>Forums</b></font>
					</a>
				</td>

				<td nowrap ALIGN="CENTER">
					<a href="/events.html">
						<font face="arial,helvetica" color="#FF9C39" size=2><b>Events</b></font>
					</a>
				</td>

			</tr>

			<TR>
				<TD COLSPAN=5 ALIGN="CENTER"><A
						HREF="http://www.meetup.com/Promoting-Open-Source-Libre-to-the-Canadian-government/"
						target="_GOSLINGMEET">
						<FONT face="arial,helvetica" color="#FFFFFF">Join us for our weekly meetup</FONT>
					</A></TD>
			</TR>
		</TABLE>
	</nav>
</header>